.not-found {
    position: relative;
    z-index: 2;
    padding-top: 9.1875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}
.not-found__title {
    font-weight: 700;
    font-family: var(--title-font),sans-serif
}
.not-found__accent-text {
    font-weight: 600;
    margin-bottom: 1rem
}
.not-found__text {
    margin-bottom: 3.75rem
}
.not-found__actions {
    display: flex;
    gap: 1.25rem
}
@media (min-width:98.75em) {
    .not-found__title {
        font-size: 20.5rem
    }
    .not-found__accent-text {
        font-size: 2rem
    }
}
@media (max-width:20em) {
    .not-found__title {
        font-size: 8rem
    }
    .not-found__accent-text {
        font-size: 1.5rem
    }
}
@media (max-width:61.99875em) {
    .not-found__text {
        margin-bottom: 3.125rem
    }
}
@media (max-width:47.99875em) {
    .not-found__actions {
        flex-wrap: wrap;
        gap: .625rem
    }
}
@media (min-width:20em)and (max-width:98.75em) {
    .not-found__title {
        font-size: clamp(8rem ,4.8253968254rem + 15.873015873vw ,20.5rem)
    }
    .not-found__accent-text {
        font-size: clamp(1.5rem ,1.373015873rem + .6349206349vw ,2rem)
    }
}
