.contacts__item {
    display: flex;
    align-items: center;
    gap: .3125rem .625rem;
    flex-wrap: wrap
}
.contacts__item a {
    color: var(--accent);
    text-decoration: underline
}
.contacts__item strong {
    font-weight: 600;
    font-size: 1rem
}
.contacts__item.contacts__item_tel {
    font-weight: 600
}
.contacts__item.contacts__item_tel a {
    text-decoration: none;
    color: var(--black)
}
.contacts__item+.contacts__item {
    margin-top: 1.25rem
}
@media (min-width:98.75em) {
    .contacts__item {
        font-size: 1.125rem
    }
    .contacts__item.contacts__item_tel {
        font-size: 1.5rem
    }
}
@media (max-width:20em) {
    .contacts__item {
        font-size: 1rem
    }
    .contacts__item.contacts__item_tel {
        font-size: 1.25rem
    }
}
@media (max-width:47.99875em) {
    .contacts__item+.contacts__item {
        margin-top: 1rem
    }
}
@media (max-width:29.99875em) {
    .contacts__item a {
        flex: 1 1 100%
    }
}
@media (min-width:20em)and (max-width:98.75em) {
    .contacts__item {
        font-size: clamp(1rem ,.9682539683rem + .1587301587vw ,1.125rem)
    }
    .contacts__item.contacts__item_tel {
        font-size: clamp(1.25rem ,1.1865079365rem + .3174603175vw ,1.5rem)
    }
}
