.news-item__text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.news__items {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.25rem
}
.news-item {
    position: relative;
    border-radius: 1.25rem;
    overflow: hidden;
    color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 29.625rem
}
.news-item__img {
    position: relative;
    z-index: 2;
    border-radius: 1.25rem;
    overflow: hidden
}
.news-item__body {
    margin-top: -1.25rem;
    background-color: var(--primary);
    padding: 2.5rem 1.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: space-between
}
.news-item__title {
    font-weight: 500
}
.news-item__title:not(:last-child) {
    margin-bottom: .9375rem
}
.news__content {
    position: relative;
    z-index: 2;
    margin-bottom: 3.75rem
}
.news__content strong {
    font-weight: 800
}
.news__content span {
    display: block
}
.news__content img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-bottom: 3.125rem
}
@media (min-width:98.125em) {
    .news-item__title {
        font-size: 1.5rem
    }
    .news__content img {
        height: 31.625rem
    }
}
@media (min-width:120em) {
    .news-item {
        min-height: 29.625rem
    }
}
@media (max-width:75em) {
    .news-item {
        min-height: 27.1875rem
    }
}
@media (max-width:20em) {
    .news-item__title {
        font-size: 1.125rem
    }
    .news__content img {
        height: 17.5rem
    }
}
@media (max-width:74.99875em) {
    .news__items {
        grid-template-columns: repeat(3,1fr)
    }
}
@media (max-width:61.99875em) {
    .news-item {
        min-height: initial
    }
}
@media (max-width:47.99875em) {
    .news__items {
        grid-template-columns: repeat(2,1fr)
    }
    .news__content img {
        margin-bottom: 1.875rem
    }
}
@media (max-width:29.99875em) {
    .news__items {
        grid-template-columns: 1fr
    }
    .news-item {
        min-height: 23.875rem
    }
    .news-item__img {
        border-radius: .625rem;
        height: 16.6875rem
    }
    .news-item__title:not(:last-child) {
        margin-bottom: .625rem
    }
    .news__content {
        margin-bottom: 2.5rem
    }
}
@media (min-width:75em)and (max-width:120em) {
    .news-item {
        min-height: clamp(27.1875rem ,23.125rem + 5.4166666667vw ,29.625rem)
    }
}
@media (min-width:20em)and (max-width:98.125em) {
    .news-item__title {
        font-size: clamp(1.125rem ,1.029rem + .48vw ,1.5rem)
    }
    .news__content img {
        height: clamp(17.5rem ,13.884rem + 18.08vw ,31.625rem)
    }
}
@media (any-hover:hover) {
    .news-item:hover .news-item__title {
        text-decoration: underline
    }
}
