.swiper_mobile,.swiper_other{
    position: relative;
    z-index: 2;
}
.swiper.swiper_mobile .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.25rem
}
@media (min-width:74.99875em) {
    .swiper.swiper_other .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1.25rem
    }
}
@media (max-width:74.99875em) {
    .swiper.swiper_mobile .swiper-wrapper {
        grid-template-columns: repeat(3,1fr)
    }
}
@media (max-width:47.99875em) {
    .swiper.swiper_mobile .swiper-wrapper {
        grid-template-columns: repeat(2,1fr);
        gap: .625rem
    }
}
@media (max-width:29.99875em) {
    .swiper.swiper_mobile .swiper-wrapper {
        display: flex;
        gap: 0
    }
    .swiper.swiper_other {
        overflow: visible
    }
}
