.table {
    width: 100%;
    min-width: 50rem;
    border-collapse: collapse;
    table-layout: auto;
    line-height: 1.4
}
.table__count {
    display: flex;
    gap: .875rem;
    align-items: center;
    justify-content: flex-end
}
.table tr+tr {
    border-top: 1px solid #eee
}
.table td,
.table th {
    padding-top: .625rem;
    padding-right: .625rem
}
.table td {
    width: auto;
    vertical-align: top;
    padding-bottom: 2.5rem
}
.table td strong {
    font-weight: 800
}
.table th {
    font-weight: 500;
    text-align: left;
    padding-bottom: .625rem;
    border-bottom: 1px solid #262626;
    font-family: var(--title-font),sans-serif
}
.table.table_main td:first-child {
    width: 15%
}
.table.table_main td:nth-child(2) {
    width: 27%
}
.table.table_main td:nth-child(3) {
    width: 27%
}
.table.table_param {
    width: 100%;
    min-width: 100%
}
.table.table_param tr:first-child td {
    padding-top: 0
}
.table.table_param td {
    padding: .1875rem .625rem .1875rem 0
}
.table td:last-child,
.table th:last-child {
    width: 35%
}
.table.table_param tr+tr {
    border-top: 0
}
.table.table_param td:first-child {
    width: 2%
}
.parameters-detail__table .table,
.parameters-nav__table .table {
    min-width: initial
}
.parameters-detail__table .table th,
.parameters-nav__table .table th {
    border-top: 1px solid #262626
}
.parameters-detail__table .table th:last-child,
.parameters-nav__table .table th:last-child {
    text-align: right
}
.parameters-detail__table .table td,
.parameters-nav__table .table td {
    padding-bottom: .625rem
}
.parameters-detail__table .table td a,
.parameters-nav__table .table td a {
    text-decoration: underline;
    color: #06f;
    transition: color .3s ease-in-out
}
.parameters-detail__table .table td a.table__btn,
.parameters-nav__table .table td a.table__btn {
    color: var(--black);
    text-decoration: none;
    min-width: 6.5625rem;
    min-height: 1.875rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .25rem .625rem;
    border-radius: 6.25rem;
    background-color: var(--bg-light);
    transition: background-color .3s ease-in-out,color .3s ease-in-out
}
.parameters-detail__table .table tr:last-child td,
.parameters-nav__table .table tr:last-child td {
    border-bottom: 1px solid #eee
}
.parameters-detail__table .table td:first-child,
.parameters-detail__table .table th:first-child {
    width: 3%
}
.parameters-detail__table .table td:nth-child(2),
.parameters-detail__table .table th:nth-child(2) {
    width: 16%
}
.parameters-detail__table .table td:nth-child(3),
.parameters-detail__table .table th:nth-child(3) {
    width: auto
}
.parameters-detail__table .table td:last-child,
.parameters-detail__table .table th:last-child {
    width: 6%
}
.tr-hover {
    cursor: pointer;
    transition: background-color .2s ease
}
@media (min-width:98.125em) {
    .table th {
        font-size: 1.125rem
    }
    .parameters-detail__table .table th,
    .parameters-nav__table .table th {
        font-size: 1rem
    }
}
@media (min-width:120em) {
    .table {
        font-size: .875rem
    }
}
@media (max-width:48em) {
    .table {
        font-size: .75rem
    }
}
@media (max-width:20em) {
    .table th {
        font-size: 1rem
    }
    .parameters-detail__table .table th,
    .parameters-nav__table .table th {
        font-size: .875rem
    }
}
@media (max-width:61.99875em) {
    .table td:last-child,
    .table th:last-child {
        width: auto
    }
}
@media (max-width:47.99875em) {
    .table td {
        padding-bottom: 1.25rem
    }
    .table.table_main td:first-child {
        width: 17%
    }
    .table.table_main td:nth-child(3) {
        width: 20%
    }
    .parameters-detail__table .table,
    .parameters-nav__table .table {
        min-width: 28.75rem
    }
}
@media (min-width:48em)and (max-width:120em) {
    .table {
        font-size: clamp(.75rem ,.6666666667rem + .1736111111vw ,.875rem)
    }
}
@media (min-width:20em)and (max-width:98.125em) {
    .table th {
        font-size: clamp(1rem ,.968rem + .16vw ,1.125rem)
    }
    .parameters-detail__table .table th,
    .parameters-nav__table .table th {
        font-size: clamp(.875rem ,.843rem + .16vw ,1rem)
    }
}
@media (any-hover:hover) {
    .parameters-detail__table .table td a:hover,
    .parameters-nav__table .table td a:hover {
        color: var(--accent)
    }
    .parameters-detail__table .table td a.table__btn:hover,
    .parameters-nav__table .table td a.table__btn:hover {
        background-color: var(--black);
        color: var(--primary)
    }
    .tr-hover:hover {
        background-color: #f5f5f5
    }
}
