.table {
    width: 100%;
    min-width: 50rem;
    border-collapse: collapse;
    table-layout: auto;
    line-height: 1.4
}
.table tr+tr {
    border-top: 1px solid #eee
}
.table td,
.table th {
    padding-top: .625rem;
    padding-right: .625rem
}
.table td {
    width: auto;
    vertical-align: top;
    padding-bottom: 2.5rem
}
.table td strong {
    font-weight: 800
}
.table th {
    text-align: left;
    padding-bottom: .625rem;
    border-bottom: 1px solid #262626
}
.table.table_param {
    width: 100%;
    min-width: 100%
}
.table.table_param tr:first-child td {
    padding-top: 0
}
.table.table_param td {
    padding: .1875rem .625rem .1875rem 0
}
.table td:nth-child(3),
.table th:nth-child(3) {
    width: 15%
}
.table.table_param tr+tr {
    border-top: 0
}
@media (min-width:120em) {
    .table {
        font-size: .875rem
    }
}
@media (max-width:48em) {
    .table {
        font-size: .75rem
    }
}
@media (max-width:47.99875em) {
    .table td {
        padding-bottom: 1.25rem
    }
}
@media (min-width:48em)and (max-width:120em) {
    .table {
        font-size: clamp(.75rem ,.6666666667rem + .1736111111vw ,.875rem)
    }
}
