.white-block {
    position: relative;
    z-index: 2;
    padding: 2.5rem;
    border-radius: 1.25rem;
    background-color: var(--primary);
    color: var(--black)
}
@media (max-width:47.99875em) {
    .white-block {
        padding: 1.25rem
    }
}
